.box {
    font-size: 0.9rem;
}

.box-item {
    display: flex;
    justify-content: space-between;
}
.box-item-head {
    font-size: 1rem;
    font-weight: 700;
    padding: 0 1rem;
}

.action-btn-container {
    display: flex;
}

.action-btn-container .action-btn {
    margin-right: 0.5em;
}
